.header h1 {
  font-size: 24px;
  color: #ddd;
}

.main ul li {
  font-size: 16px;
}

.main ul li:nth-of-type(3n) {
  color: #d66;
}

.main ul li:nth-of-type(3n + 1) {
  color: #6d6;
}

.main ul li:nth-of-type(3n + 2) {
  color: #66d;
}
